{! This is a header file, which gets included inside of base.tmpl, so that every template which includes base
   will also include this header. !}
<header>
    <div class="title">
        <h1>Welcome to your first Mobify.js Mobile Page</h1>
        <h2>As an initial example of content selection, we've selected the title of your site and placed it in _header.tmpl:</h2>
        <p class="extract">
            {header.title}
        </p>
    </div>
</header>
