#bubble {
	display: none;
	position: absolute;
	z-index: 9999;
	
	-webkit-transition-property: -webkit-transform, opacity; 
	-webkit-transition-duration: .8s, .8s; 
	-webkit-transition-timing-function: ease-in-out; 
	-webkit-transition-delay: 0, 0;

	 // CUSTOM
	 background: red;
	 outline: 5px solid purple;
	 


	 &.x-on {
	 	display: block;
	 }

	 &.x-closing {
	 	opacity: 0;
	 }
}