html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
	font: normal 1em "Helvetica Neue", sans-serif;
	color: #15191A;
	background: #eaecec;
	text-align: center;
	margin: 0;
	padding: 10px 40px;
	width: 240px;
}
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1em;
	font-weight: normal;
}
.extract {
	font-weight: bold;
	padding: 10px;
	margin: 20px;
	background: #fff;
	border: solid 1px #d7dcdd;
	border-radius: 3px;
	box-shadow: 0 2px 4px #d7dcdd;
}
