{
    "saucelabs": {
        "username": "{SAUCELABS_USERNAME}",
        "key": "{SAUCELABS_KEY}"
    },
    "aws": {
        "key": "{AWS_KEY}",
        "secret": "{AWS_SECRET}",
        "buckets": {
            "cdn": "{AWS_CDN_BUCKET}",
            "wwwstaging": "{AWS_WWWSTAGING_BUCKET}",
            "wwwprod": "{AWS_WWWPROD_BUCKET}"
        }
    }
}
