/* Basic Styling */
html {
	min-height: 100%;
	height: 100%;
}
body {
	color: #d5ecf2;
	background: #046f7e url(../img/body-bg.png);
	min-height: 100%;
	font-family: DagnyWeb, "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:visited {
	color: #f29a5c;
}
	a:hover {
		color: #eb804c;
	}
h1 {
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	margin: 40px 0;
	color: #fff;
	text-shadow: rgba(0,0,0,0.15) 0 1px 0;
}
strong {
	font-weight: normal;
	color: #fff;
}
.well {
	color: #032c32;
	background: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0 3px 0;
	-moz-box-shadow: rgba(0,0,0,0.15) 0 3px 0;
	-ms-box-shadow: rgba(0,0,0,0.15) 0 3px 0;
	-o-box-shadow: rgba(0,0,0,0.15) 0 3px 0;
	box-shadow: rgba(0,0,0,0.15) 0 3px 0;
}
	.well a, .well a:visited {
		color: #c07247;
	}
.btn, a.btn {
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	border: none;
	color: #fff;
	background: #f39a51;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
	-ms-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
	-o-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
	box-shadow: rgba(0,0,0,0.15) 0 1px 0;
	background: -moz-linear-gradient(top,  #f2a75c 0%, #f39a51 90.3%, #df8d4a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a75c), color-stop(90.3%,#f39a51), color-stop(100%,#df8d4a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a75c', endColorstr='#df8d4a',GradientType=0 ); /* IE6-9 */
}
	.btn:hover, a.btn:hover {
		background-position: 0 0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}




/* Base Layout */
.viewport {
	border: solid 13px rgba(255,255,255,0.1);	
	border-width: 13px 13px 0 13px;
}
.footer .row-fluid, .viewport .row-fluid {
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 480px) {
}
@media (max-width: 767px) {
	body {
		padding: 0;
	}
	.footer .row-fluid, .viewport .row-fluid {
		width: 90%;
	}
	.pull-right {
		float: none;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 999px) {
	.footer .row-fluid, .viewport .row-fluid {
		width: 720px;
	}
}
@media (min-width: 1000px) {
	.footer .row-fluid, .viewport .row-fluid {
		width: 960px;
	}
}




/* Header Layout */
.navbar, .navbar-inner {
	color: #d5ecf2;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	min-height: 0;
	padding: 0;
	overflow: hidden;
}
.navbar {
	padding: 50px 0 60px 0;
}
.navbar .brand {
	font-size: 0;
	text-indent: -999px;
	overflow: hidden;
	width: 200px;
	height: 51px;
	padding: 0;
	margin: 0;
	background: url(../img/sprites.png) 0 0;
}
.navbar .nav {
	float: right;
}
.navbar .nav > li > a {
	line-height: 1;
	text-transform: uppercase;
	padding: 8px 13px 9px 13px;
	color: #f29a5c;
	text-shadow: rgba(0,0,0,0.15) 0 1px 0;
}
	.navbar .nav > li > a.active {
		color: #fff;
		background: #f39a51;
		margin: 0 13px;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		-ms-border-radius: 9px;
		-o-border-radius: 9px;
		border-radius: 9px;
		-webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
		-ms-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
		-o-box-shadow: rgba(0,0,0,0.15) 0 1px 0;
		box-shadow: rgba(0,0,0,0.15) 0 1px 0;
		background: -moz-linear-gradient(top,  #f2a75c 0%, #f39a51 90.3%, #df8d4a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a75c), color-stop(90.3%,#f39a51), color-stop(100%,#df8d4a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f2a75c 0%,#f39a51 90.3%,#df8d4a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a75c', endColorstr='#df8d4a',GradientType=0 ); /* IE6-9 */
	}
	.navbar .nav > li > a:hover {
		color: #eb804c;
	}
	.navbar .nav > li > a.active:hover {
		color: #fff;
	}



/* Footer Layout */
.footer {
	color: #83a5ad;
	background: #fff;
	font-size: 13px;
	text-transform: uppercase;
}
	.footer .span6 {
		padding: 25px 0;
	}
	.footer a, .footer a:visited {
		color: #074a5b;
	}
		.footer a:hover {
			background: none;
		}
	.footer i {
		font-size: 16px;
		color: #83a5ad;
	}
	.footer .nav {
		margin: 0;
	}
		.footer .nav li {
			display: inline-block;
			margin: 0 0 0 20px;
		}




/* Page Layout: Home Page */
.lead {
	font-size: 26px;
	line-height: 56px;
	text-shadow: rgba(0,0,0,0.15) 0 2px 0;
}
.well .row-fluid {
	width: 100%;
}
.install {
	background: #f2f7f8;
	overflow: hidden;
}

.next-level {
	background: #1e7e8b;
	background: rgba(255,255,255,0.1);
}








/* -- Web Fonts -- */
@font-face {
	font-family: 'DagnyWeb';
	src: url('../type/DagnyWeb.eot?') format('eot'), url('../type/DagnyWeb.woff') format('woff'), url('../type/DagnyWeb.ttf') format('truetype');
}
@font-face {
	font-family: 'DagnyWebBold';
	src: url('../type/DagnyWeb-Bold.eot?') format('eot'), url('../type/DagnyWeb-Bold.woff') format('woff'), url('../type/DagnyWeb-Bold.ttf') format('truetype');
}