.m-accordion {
    list-style: none;
}
.m-accordion li {
    list-style: none;
    margin: 0;
}

.m-accordion .content {
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: max-height 1s ease;
    overflow: hidden;
    max-height: 0;
}

.m-accordion .active .content {
    max-height: 10000px; /* IE hack */
}

.m-accordion .header {
    margin-top: -1px;
    pointer-events: cursor; /* For iOS */
}

.m-accordion h3 {
    margin: 0;
}

.m-accordion .header > a {
    pointer-events: none;   
}
