
                    <div class="nav-examples">
                        <div class="demostore">
                            <h3><a href="{{ site.baseurl }}/examples/#demostore">Demo Site</a></h3>
                            <p>Uncle Merlins Discount Potions store</p>
                        </div>
                        <!-- 
                        <div class="demoblog">
                            <a href="/examples/demoblog/"><h3>Demo Blog</h3></a>
                            <p>Description</p>
                        </div>
                        -->
                    </div>

