                    
                    {% active_links prefix %}
                    <div class="nav-modules">
                        <ul>
	                        <li><a href="{{ site.baseurl }}/modules/">Mobify.js Modules</a></li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/carousel">Carousel</a>
		                        <ul class="hide-inactive">
			                        <li><a href="{{ site.baseurl }}/modules/carousel-examples/">Examples</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#usage">Usage</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#classes">Classes</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#methods">Methods</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#events">Events</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#browser-compatibility">Browser Compatibility</a></li>
		                        </ul>
		                    </li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/accordion">Accordion</a>
		                        <ul class="hide-inactive">
			                        <li><a href="{{ site.baseurl }}/modules/accordion-examples/">Examples</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/accordion/#usage">Usage</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/accordion/#markup">Markup</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/accordion/#methods">Methods</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/accordion/#browser-compatibility">Browser Compatibility</a></li>
		                        </ul>
		                </li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/zoomable">Zoomable</a>
		                        <ul class="hide-inactive">
									<li><a href="{{ site.baseurl }}/modules/zoomable/#using-mobify-zoomablejs">Initialize</a></li>		                        
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#methods">Methods</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#configuration">Configuration</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#classes">Classes</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#default-styles">Default Styles</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#events">Events</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable/#limitations">Limitations</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable-examples">Examples</a></li>
		                        </ul>
		                </li>
	                </ul>
                    </div>
                    {% endactive_links %}
