
                    <div class="nav-examples">
                        <div class="carousel">
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">Carousel</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">Another Widget</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">Fictional Example</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">So very fake</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">Another Widget</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">Fictional Example</a></h3>
                            <h3><a href="{{ site.baseurl }}/widgets/carousel">So very fake</a></h3>
                        </div>
                    </div>
