
                    <div class="nav-examples">
                        <div class="grumpycat">
                            <h3><a href="{{ site.baseurl }}/examples/grumpy-cat">Capturing - Grumpy Cat</a></h3>
                        </div>
                        <div class="media-queries">
                            <h3><a href="{{ site.baseurl }}/examples/media-queries">Capturing - Media Queries</a></h3>
                        </div>
                        <div class="templating">
                            <h3><a href="{{ site.baseurl }}/examples/templating">Capturing - Templating</a></h3>
                        </div>
                        <div class="grumpycat">
                            <h3>Resize Images (coming soon)</h3>
                        </div>
                    </div>

