
                    <div class="nav-modules">
                        <ul>
	                        <li><a href="{{ site.baseurl }}/modules/">Modules</a></li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/carousel">Carousel</a>
		                        <ul>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#using-mobify-carouseljs">Initialize</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#options">Options</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#markup">Markup</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#classes">Classes</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#methods">Methods</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel/#events">Events</a></li>
			                        <li><a href="{{ site.baseurl }}/modules/carousel-examples">Examples</a></li>

		                        </ul>
		                    </li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/accordion">Accordion</a>
		                        <ul>
			                        <li><a href="{{ site.baseurl }}/modules/accordion-examples">Examples</a></li>
		                        </ul>
		                </li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/zoomable">Zoomable</a>
		                        <ul>
			                        <li><a href="{{ site.baseurl }}/modules/zoomable-examples">Examples</a></li>
		                        </ul>
		                </li>
	                </ul>
                    </div>
