
                    <div class="nav-examples">
                        <div class="demostore">
                            <a href="/examples/demostore/"><h3>Demo Store</h3></a>
                            <p>Uncle Merlins Discount Potions</p>
                        </div>
                        <!-- 
                        <div class="demoblog">
                            <a href="/examples/demoblog/"><h3>Demo Blog</h3></a>
                            <p>Description</p>
                        </div>
                        -->
                    </div>

