
                    <div class="nav-examples">
                        <div class="image-resizing-img-element">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#image-resizing---img">Image Resizing - IMG</a></h3>
                        </div>
                        <div class="image-resizing-picture-element">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#image-resizing---picture">Image Resizing - PICTURE</a></h3>
                        </div>
                        <div class="picture-polyfill">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#capturing---picture-polyfill">Picture Polyfill</a></h3>
                        </div>
                        <div class="grumpycat">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#capturing---grumpy-cat">Capturing - Grumpy Cat</a></h3>
                        </div>
                        <div class="media-queries">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#capturing---media-queries">Capturing - Media Queries</a></h3>
                        </div>
                        <div class="templating">
                            <h3><a href="{{ site.baseurl }}/v2/examples/#capturing---basic-templating">Capturing - Basic Templating</a></h3>
                        </div>
                    </div>

