
                    <div class="nav-modules">
                        <ul>
	                        <li><a href="{{ site.baseurl }}/modules/">Modules Index</a></li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/carousel">Carousel</a>
		                        <ul>
			                        <li><a href="{{ site.baseurl }}/modules/carousel-examples">Examples</a></li>
		                        </ul>
		                    </li>
	                        <li>
	                        	<a href="{{ site.baseurl }}/modules/accordion">Accordion</a>
		                        <ul>
			                        <li><a href="{{ site.baseurl }}/modules/accordion-examples">Examples</a></li>
		                        </ul>
		                    </li>
	                   	</ul>
                    </div>
