<div class="nav-wrapper">
    <ul class="nav">
        <li class="nav-about">
    {% active_links %}
            <a href="/mobifyjs/" class="rounded about">About</a>
    {% endactive_links %}
        </li>
        <li class="nav-docs">
    {% active_links prefix %}
            <a href="/mobifyjs/docs/" class="rounded">Docs</a>
        </li>
        <li class="nav-examples">
            <a href="/mobifyjs/examples/" class="rounded">Examples</a>
        </li>
        <li class="nav-widgets">
            <a href="/mobifyjs/modules/" class="rounded">Modules</a>
        </li>
        <li class="nav-community">
            <a href="/mobifyjs/community/" class="rounded">Community</a>
        </li>
    </ul><!-- .nav -->
    {% endactive_links %}
</div>
