                    <div class="nav-wrapper">
	                    <ul class="nav">
	                        <li>
                        {% active_links %}
	                            <a href="/mobifyjs/" class="rounded about">About</a>
                        {% endactive_links %}
	                        </li><li>
                        {% active_links prefix %}
	                            <a href="/mobifyjs/examples/" class="rounded">Examples</a>
	                        </li><li>
	                            <a href="/mobifyjs/docs/" class="rounded">Docs</a>
	                        </li><li>
	                            <a href="/mobifyjs/community/" class="rounded">Community</a>
	                        </li>
	                        <li>
	                            <a href="//twitter.com/mobifyjs" class="rounded"><i class="icon-twitter"></i></a>
                           	</li>
	                    </ul><!-- .nav -->
                        {% endactive_links %}
	                </div>
