                    <div class="nav-wrapper">
	                    <ul class="nav">
	                        <li>
	                            <a href="/mobifyjs/" class="active rounded">About</a>
	                        </li><li>
	                            <a href="/mobifyjs/examples/demostore/" class="rounded">Examples</a>
	                        </li><li>
	                            <a href="/mobifyjs/docs/" class="rounded">Docs</a>
	                        </li><li>
	                            <a href="/mobifyjs/community/" class="rounded">Community</a>
	                        </li>
	                    </ul><!-- .nav -->
	                </div>
