<!DOCTYPE html>
<html>
<head>
    <!--

                     |    _)  _|        _)
     __ `__ \   _ \  __ \  | |   |   |   |  __|
     |   |   | (   | |   | | __| |   |   |\__ \
    _|  _|  _|\___/ _.__/ _|_|  \__, |   |____/
                                ____/___/

    www.mobifyjs.com, coded in Vancouver, Canada. https://www.mobify.com/about/jobs/ -->
    <meta charset="utf-8" />
    <meta name="author" content="Mobify">
    <meta name="description" content="Mobify.js is an open source library for improving responsive sites by providing responsive images, JS/CSS optimization, Adaptive Templating and more.">
    <meta name="keywords" content="mobify,responsive,responsive images,optimization,adaptive templating,adaptive,mobile,mobile commerce,m-commerce,e-commerce,mobile web,mobile website,mobile view,create a mobile site,performance, improve performance, improve responsive performance">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/js/highlight/styles/github.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/ui-dev.css?version=2">
    <link rel="shortcut icon" href="{{ site.baseurl }}/static/img/favicon.ico">

    <!-- Google Analytics -->
    <script>
        var _gaq = [
            ['_setAccount', 'UA-993328-16'],
            ['_trackPageview'],
            ['_setDomainName', 'mobify.com'],
            ['_setSiteSpeedSampleRate', 25],
            ['_setAllowLinker', true]
        ];
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script>
        /*! A fix for the iOS orientationchange zoom bug. Script by @scottjehl, rebound by @wilto.MIT / GPLv2 License.*/
        (function(a){function m(){d.setAttribute("content",g),h=!0}function n(){d.setAttribute("content",f),h=!1}function o(b){l=b.accelerationIncludingGravity,i=Math.abs(l.x),j=Math.abs(l.y),k=Math.abs(l.z),(!a.orientation||a.orientation===180)&&(i>7||(k>6&&j<8||k<8&&j>6)&&i>5)?h&&n():h||m()}var b=navigator.userAgent;if(!(/iPhone|iPad|iPod/.test(navigator.platform)&&/OS [1-5]_[0-9_]* like Mac OS X/i.test(b)&&b.indexOf("AppleWebKit")>-1))return;var c=a.document;if(!c.querySelector)return;var d=c.querySelector("meta[name=viewport]"),e=d&&d.getAttribute("content"),f=e+",maximum-scale=1",g=e+",maximum-scale=10",h=!0,i,j,k,l;if(!d)return;a.addEventListener("orientationchange",m,!1),a.addEventListener("devicemotion",o,!1)})(this);
    </script>
    <script src="{{ site.baseurl }}/static/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/static/js/bootstrap-dropdown.js"></script>
    <script>
        $(document).ready(function() {
          $("div.animated div").addClass("active");
        });
    </script>

    <!-- Typekit -->
    <script src="//use.typekit.com/meb2ipm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="{{ page.bodyclass }}">
    <div class="viewport">
        {{ content }}
    </div>
    <div class="footer">
        <div class="row-fluid">
            <div class="span6">
                <p>Copyright &copy; 2013 <a href="//www.mobify.com/">Mobify</a>.</p>
            </div>

            <div class="span6">
                <ul class="nav pull-right">
                    <li>
                        <a href="//twitter.com/mobifyjs" title="Mobify on Twitter">
                            <i class="icon-twitter"></i>@Mobifyjs
                        </a>
                    </li>
                    <li>
                        <a href="//github.com/mobify" title="Mobify on Github">
                            <i class="icon-github"></i>Github
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/license/">License</a>
                    </li>
                </ul>
            </div>
        </div><!-- .row-fluid -->
 </div><!-- .footer -->

<!-- JavaScript -->
<script src="{{ site.baseurl }}/static/js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
