---
layout: basev2
bodyclass: docsv2
---


<div class="row-fluid reversed-column">
    <div class="span8">
        <div class="alert alert-block">
            <p>These docs are for the developer preview of Mobify.js 2.0.</p>
            <p>Looking for the 1.1 documentation? <a href="/mobifyjs/docs/">It's right here!</a></p>
        </div>

	    {{ content }}
    </div>
    <div class="span4 sidebar-nav docs-nav rounded shaded">
		{% active_links %}{% capture nav %}{% include nav-docsv2.md %}{% endcapture %}{{ nav | markdownify }}{% endactive_links %}
	</div>
</div>
