---
layout: base
bodyclass: examples
---

<div class="examples">
    <div class="row-fluid">
        <div class="span12">
            <div class="well rounded shaded">
                <div class="row-fluid">
                    <div class="span4">
                        {% include nav-examples.html %}
                    </div>


                    <div class="span8">
                        {{ content }}
                    </div>
                </div><!-- nested .row -->
            </div><!-- .well -->
        </div>
    </div>
</div>
