---
layout: base
bodyclass: modules
---

<div class="row-fluid reversed-column">
    <div class="span12">
        {{ content }}
    </div>

	<ul class="widget-gallery">
		<li class="carousel">
			<a href="{{ site.baseurl }}/modules/carousel">
				<h3>Carousel</h3>
				<p>A configurable rotating content carousel.</p>
			</a>
		</li>
		<li class="accordion">
			<a href="{{ site.baseurl }}/modules/accordion">
				<h3>Accordion</h3>
				<p>An expanding accordion menu for two-level nav systems.</p>
			</a>
		</li>
		<li class="coming-soon">
			<a href="{{ site.baseurl }}/modules/">
				<h3>Coming Soon</h3>
				<p>We&#8217;re hard at work on more modules. Watch this space.</p>
			</a>
		</li>

        <!--

		<li class="zoomable">
			<a href="{{ site.baseurl }}/modules/zoomable">
				<h3>Zoomable</h3>
				<p>A module for showing and panning through large images in a touchscreen-friendly way.</p>
			</a>
		</li>

        -->

        <!-- 

		<li class="coming-soon">
			<a href="{{ site.baseurl }}/modules/">
				<h3>Coming Soon</h3>
				<p>We&#8217;re hard at work on more modules. Watch this space.</p>
			</a>
		</li>
		<li class="coming-soon">
			<a href="{{ site.baseurl }}/modules/">
				<h3>Coming Soon</h3>
				<p>We&#8217;re hard at work on more modules. Watch this space.</p>
			</a>
		</li>

        -->
	</ul>
</div>
