---
layout: base
bodyclass: widgets
---

<div class="row-fluid reversed-column">
    <div class="span12">
        {{ content }}
    </div>

	<ul class="widget-gallery">
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/widgets/carousel">
				<img src="/mobifyjs/static/img/glyphicons-halflings-white.png" alt="Carousel">
				<h3>Carousel</h3>
				<p>Image carousel widget for all your image rotating needs.</p>
			</a>
		</li>
	</ul>

</div>

